@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: 'Italian Plate No2 Expanded';
  src: url('/fonts/Italian Plate No2 Expanded Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Italian Plate No2 Expanded';
  src: url('/fonts/Italian Plate No2 Expanded Thin Italic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Italian Plate No2 Expanded';
  src: url('/fonts/Italian Plate No2 Expanded Ultralight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Italian Plate No2 Expanded';
  src: url('/fonts/Italian Plate No2 Expanded Ultralight Italic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Italian Plate No2 Expanded';
  src: url('/fonts/Italian Plate No2 Expanded Extralight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Italian Plate No2 Expanded';
  src: url('/fonts/Italian Plate No2 Expanded Extralight Italic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Italian Plate No2 Expanded';
  src: url('/fonts/Italian Plate No2 Expanded Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Italian Plate No2 Expanded';
  src: url('/fonts/Italian Plate No2 Expanded Light Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Italian Plate No2 Expanded';
  src: url('/fonts/Italian Plate No2 Expanded.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Italian Plate No2 Expanded';
  src: url('/fonts/Italian Plate No2 Expanded Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Italian Plate No2 Expanded';
  src: url('/fonts/Italian Plate No2 Expanded Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Italian Plate No2 Expanded';
  src: url('/fonts/Italian Plate No2 Expanded Medium Italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Italian Plate No2 Expanded';
  src: url('/fonts/Italian Plate No2 Expanded Demibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Italian Plate No2 Expanded';
  src: url('/fonts/Italian Plate No2 Expanded Demibold Italic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Italian Plate No2 Expanded';
  src: url('/fonts/Italian Plate No2 Expanded Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Italian Plate No2 Expanded';
  src: url('/fonts/Italian Plate No2 Expanded Bold Italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Italian Plate No2 Expanded';
  src: url('/fonts/Italian Plate No2 Expanded Extrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Italian Plate No2 Expanded';
  src: url('/fonts/Italian Plate No2 Expanded Extrabold Italic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Italian Plate No2 Expanded';
  src: url('/fonts/Italian Plate No2 Expanded Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Italian Plate No2 Expanded';
  src: url('/fonts/Italian Plate No2 Expanded Black Italic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --sidebar-emerald: var(--sidebar-emerald);
  --sidebar-progress-trail: var(--sidebar-progress-trail);
}

:root {
  --radius: 0.625rem;
  --background: #fff;
  --foreground: #000;
  --sidebar-emerald: #38f18f;
  --sidebar-progress-trail: rgba(255, 255, 255, 0.08);
  --italian-plate: 'Italian Plate No2 Expanded',
    system-ui,
    -apple-system,
    sans-serif;
}

body {
  font-family: var(--italian-plate);
  height: 100vh;
}